/* 
 * 4 0 4 . c s s  
 */

#mainContent {
  padding-top: 3em;
}

.frame {
  width: 500px;
  height: auto;
  margin: 3em 1em 1em -6em;
  position: absolute;
  padding-top: 1em;
  width: 100%;
}

svg {
  max-width: 100%;
  height: auto;
  display: block;
}

.error-page {
  background-color: #f9f9f9;
}

.four-oh-four {
  padding-top: 0.5em;
  font-size: 12em;
  text-align: center;
  color: #F03B5B;
}

.error-text {
  padding-top: 0.5em;
  font-size: 28px;
  font-family: 'open sans', sans-serif;
  text-align: center;
  color: #333;
}
.modelPageLink {
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;
}

svg {
  max-width: 100%;
  height: auto;
  display: block;
}

.plane {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 55%;
  margin: -60px 0 0 -200px;
  transform: rotateZ(60deg) rotateX(60deg) rotateY(90deg) translateY(200%);
  transform-style: preserve-3d;
}

.plane:nth-child(1) {
  -webkit-animation: planeFirst 4000ms linear 0ms infinite;
  -moz-animation: planeFirst 4000ms linear 0ms infinite;
  -ms-animation: planeFirst 4000ms linear 0ms infinite;
  -o-animation: planeFirst 4000ms linear 0ms infinite;
  animation: planeFirst 4000ms linear 0ms infinite;
}

.left-wing {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -50px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100px 200px 0px;
  border-color: transparent transparent #333 transparent;
  transform: translateX(50px) rotateZ(-4deg);
  transform-origin: left top;
}

.right-wing {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -50px;
  border-style: solid;
  border-width: 0 0px 200px 100px;
  border-color: transparent transparent #333 transparent;
  transform: translateX(-50px) rotateZ(4deg);
  transform-origin: right top;
}

.left-side {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 40px 200px 0px;
  border-color: transparent transparent #333 transparent;
  transform: translateX(20px) rotateZ(-4deg) rotateY(-110deg);
  transform-origin: left top;
}

.right-side {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -20px;
  border-style: solid;
  border-width: 0 0px 200px 40px;
  border-color: transparent transparent #333 transparent;
  transform: translateX(-20px) rotateZ(4deg) rotateY(110deg);
  transform-origin: right top;
}

@-webkit-keyframes planeFirst {
  from {
    -webkit-transform: rotateZ(60deg)
      rotateX(60deg)
      rotateY(90deg)
      translateY(200%);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    -webkit-transform: rotateZ(60deg)
      rotateX(60deg)
      rotateY(360deg)
      translateY(-500%);
    opacity: 0;
  }
}

@-moz-keyframes planeFirst {
  from {
    -moz-transform: rotateZ(60deg)
      rotateX(60deg)
      rotateY(90deg)
      translateY(200%);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    -moz-transform: rotateZ(60deg)
      rotateX(60deg)
      rotateY(360deg)
      translateY(-500%);
    opacity: 0;
  }
}

@-ms-keyframes planeFirst {
  from {
    -ms-transform: rotateZ(60deg)
      rotateX(60deg)
      rotateY(90deg)
      translateY(200%);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    -ms-transform: rotateZ(60deg)
      rotateX(60deg)
      rotateY(360deg)
      translateY(-500%);
    opacity: 0;
  }
}

@-o-keyframes planeFirst {
  from {
    -ms-transform: rotateZ(60deg)
      rotateX(60deg)
      rotateY(90deg)
      translateY(200%);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    -ms-transform: rotateZ(60deg)
      rotateX(60deg)
      rotateY(360deg)
      translateY(-500%);
    opacity: 0;
  }
}

@keyframes planeFirst {
  from {
    transform: rotateZ(60deg) rotateX(60deg) rotateY(90deg) translateY(200%);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    transform: rotateZ(60deg) rotateX(60deg) rotateY(360deg) translateY(-500%);
    opacity: 0;
  }
}
