/* Edit Model css */

#save-btn {
  display: none;
}

.edit-controls-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  background: #333;
  margin: 0;
}

.edit-controls-wrapper::after {
  display: block;
  content: "";
  clear: both;
}

.edit-controls-hidden {
  margin-right: -300px;
}

.edit-controls-icons {
  float: left;
}

.edit-controls-icons > img {
  display: block;
  padding: 10px;
  cursor: pointer;
}

.edit-controls {
  float: right;
  height: 600px;
  width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.6s;
}

.icon-active {
  background-color: #fff;
}

.edit-controls-info {
  position: absolute;
  margin-left: 20px;
}

.ec-item {
  padding: 10px 0px 10px 0px;
}

.comments-toolbar {
  display: block;
  background-color: #bababa;
}

.ec-inactive {
  display: none;
}
.color-controller {
  width: 230px;
  background-color: #333;
}

input[type=text].obj-search-bar {
  width: 80%;
  background-color: #bababa;
  color: #333;
  height: 25px;
  margin: 10px;
  outline: none;
  border: none;
}

.all-objs {
  cursor: pointer;
}

.obj-list {
  background-color: #dfdfdf;
  color: #555555;
  height: 220px;
  overflow-y: auto;
}

.obj-list-ul {
  list-style-type: none;
  margin: 0px;
}

.obj-list-li {
  margin: 0;
  padding-top: 10px;
}

.eye-img, .white-eye-img {
  width: 20px;
  height: auto;
  margin: 5px;
}

.all-obj-label {
  color: #bababa;
}

.obj-name-label {
  display: inline;
}

input[type='color'].color-picker {
  padding: 0;
  width: 60%;
  border: none;
  height: 22px;
  margin: 0;
}

.control {
  background-color: #bababa;
  padding: 10px;
  display: none;
}

.control label {
  margin: 0;
}

.arrow {
  float: right;
  margin-right: 10px;
  width: 20px;
  height: auto;
}

.obj-heading {
  border-bottom: 1px solid #bababa;
  cursor: pointer;
}

.obj-heading::after {
  display: block;
  content: "";
  clear: both;
}

.edit-thumb-btn {
  width: 300px;
  height: 30px;
  border: none;
  outline: none;
  background-color: #f03b5b;
  color: #fafafa;
}

.edit-thumb-btn:hover {
  background-color: #c7324d;
}
