/*
 * Explore Page CSS
 */

 #search-box, #search-user-box {
  padding: 10px;
  width: 49%;
  height: 50px;
  outline: 0;
  font-size: 15px;
  text-align: center;
  border: 1px solid #444;
}
@media (max-width: 767px) {
  #search-box, #search-user-box {
    height: 35px;
  }
}

.explore-heading {
  text-align: center;
  padding: 0.5em;
  font-size: 3em;
}
@media (max-width: 767px) {
  .explore-heading {
    padding: 0.7em;
    font-size: 2em;
  }
}

.search-result {
  background-color: white;
  border-radius: 2%;
  padding: 5px;
  z-index: 1;
}

.search-icon {
  position: relative;
  top: -35px;
  left: 50%;
  transform: translateX(-180px);
  color: #989898;
}

#search-model-result {
  background-color: #FFF;
}

#user-results {
  max-width: 380px;
  margin: auto;
}

.user-result-heading {
  text-align: center;
  color: #f03b5b;
}

.result-container {
  display: none;
}

.post-content {
  padding: 10px 10px;
  width: 500px;
  max-width: 500px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #dadada;
}

.model-preview {
  margin: 10px 0px 10px 0px;
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #333;
  border: 1px solid #ccc;
}

.model-preview-link {
  text-align: center;
}

.model-name {
  padding-top: 90px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 25px;
  height: 160px;
}

.model-link-text {
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
}

#overlay-comments {
  position: fixed;
  background: rgba(255, 255, 255, 0.5);
  bottom: -10000px;
  right: 0px;
  height: 300px;
  border-radius: 5px;
  min-width: 300px;
  max-width: 600px;
  z-index: 950;
  padding: 20px 20px;
  overflow-y: auto;
}

#comments-close-button {
  margin-right: -10px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  line-height: 25px;
  background: #F03B5B;
  width: 25px;
  height: 25px;
  float: right;
  border-radius: 50%;
}

#overlay-comments .comments {
  display: block;
}

.author {
  color: #333;
}

.clear {
  float: none;
}

.explore-user-info {
  float: right;
}

.dp-explore {
  width: 100px;
  height: 100px;
  margin-top: 5px;
  float: left;
}
