@import url(http://fonts.googleapis.com/css?family=Megrim);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import "404.css";
@import "clouds.css";
@import "components.css";
@import "edit-model.css";
@import "explore.css";
@import "landing-page.css";
@import "misc.css";
@import "model-viewer.css";
@import "newsfeed.css";
@import "profile.css";

/*
 * Helpers Start
 */

body {
  background: #FFF;
  font-family: 'open sans', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  line-height: 1.4;
  padding-left: 0px;
  padding-right: 0px;
}

a {
  color: #F03B5B;
}

a:hover {
  color: #f74c3c;
  text-decoration: none;
}

a:focus {
  color: #F03B5B;
  text-decoration: none;
}

h2 {
  color: #F03B5B;
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.font-thin {
  font-weight: 200;
  color: #FAF9F9;
}

.font-semibold {
  font-weight: 600;
  color: #FAF9F9;
}

.font-light {
  font-weight: 300;
  color: #FAF9F9;
}

.page-container {
  /*max-width:900px;*/
  margin: auto;
}

.wrapper {
  margin-top: 20px;
}

/*
 * Model Viewer .dat file position
 */

#modelController {
  position: fixed;
  top: 10%;
  right: 0%;
}

.mt {
  margin-top: 45px;
  margin-bottom: 40px;
}

.form-control::-webkit-input-placeholder {
  color: #000;
  font-size: 1.6em;
  font-weight: 200;
}
.form-control:-moz-placeholder {
  color: #000;
  font-size: 1.6em;
  font-weight: 200;
}
.form-control::-moz-placeholder {
  color: #000;
  font-size: 1.6em;
  font-weight: 200;
}
.form-control:-ms-input-placeholder {
  color: #000;
  font-size: 1.6em;
  font-weight: 200;
}

/* 
 * F O O T E R  
 */

#footer {
  background-color: #FFF;
  width: 100%;
  min-height: 100px;
}
#footer p {
  color: #888;
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  padding: 1em;
}

