/* 
 * This CSS is the part of client/templates/model_viewer.html
 * It contains the keys for switching to the different views 
 * such that the user on hovering it will get the information 
 * and on pressing the keys one can switch to different views.
 */

 .letter {
  font-size: 18px;
  background-color: #f03b5b;
  border-radius: 1px;
  color: #fafafa;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  text-transform: uppercase;
  vertical-align: text-bottom;
  font-style: normal;
  margin-right: .5rem;
}

.keyboard-shortcuts {
  padding: 1em;
}

.keyboard-shortcuts .keyboard {
  margin: 5em 0em 0em 1em;
}

.keyboard-shortcuts .keyboard .letter-text {
  display: none;
}

.keyboard-shortcuts .keyboard #letter-text-t {
  top: 100.5%;
  left: 40%;
  position: absolute;
}

.keyboard-shortcuts .keyboard #letter-text-r {
  top: 106%;
  left: 64.5%;
  position: absolute;
}

.keyboard-shortcuts .keyboard #letter-text-b {
  top: 106%;
  left: 40%;
  position: absolute;
}

.keyboard-shortcuts .keyboard #letter-text-f {
  top: 106%;
  left: 14.5%;
  position: absolute;
}

.keyboard-shortcuts .keyboard #letter-text-n {
  top: 111.5%;
  left: 40%;
  position: absolute;
}

.keyboard-shortcuts:hover {
  padding: 1em;
}

.keyboard-shortcuts:hover .keyboard {
  margin: 0.8em 0em 0em 0em;
  -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
  -moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
  -o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
}

.keyboard-shortcuts:hover .letter-text {
  display: block;
  padding-left: 2.7em;
  line-height: 2.2em;
  color: #fafafa;
}

.keyboard-shortcuts:hover #letter-text-n {
  display: block;
  top: 92.5%;
  left: 20%;
  position: absolute;
}

.keyboard-shortcuts:hover #letter-text-t {
  top: 69.5%;
  left: 20%;
  position: absolute;
}

.keyboard-shortcuts:hover #letter-text-r {
  top: 75.2%;
  left: 20%;
  position: absolute;
}

.keyboard-shortcuts:hover #letter-text-b {
  top: 86.7%;
  left: 20%;
  position: absolute;
}

.keyboard-shortcuts:hover #letter-text-f {
  top: 81%;
  left: 20%;
  position: absolute;
}

.color-input {
  width: 43%;
  height: 30px !important;
  margin: 0 0 3px 3px !important;
  padding: 0 !important;
  border: none !important;
}

@media (max-width: 767px) {
  .keyboard-shortcuts {
    display: none;
  }
}
