/*
 * Newsfeed Page CSS
 */

 .feed-wrapper {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  margin: 30px auto 30px auto;
  max-width: 980px;
}

.greeting-text {
  text-align: center;
  color: #ccc;
  padding: 20px;
}

.feed-wrapper:after {
  content: "";
  display: block;
  clear: both;
}

.modelHeading {
  color: #2C2B34;
}

.feed-item {
  margin: 20px auto 20px auto;
  max-width: 620px;
}

.feed-item:after {
  content: "";
  display: block;
  clear: both;
}

.post-section {
  float: left;
  margin-left: 10px;
}

.post-meta {
  padding: 5px 5px;
  font-size: 12px;
  font-style: italic;
  color: #888;
}

.post-sidebar {
  width: 100px; /* at screens less than 600px it will be 100% */
}

.newsfeed-userInfo {
  font-size: 15px;
}

.newsfeed-info-content {
  padding: 15px;
  width: 300px;
  max-width: 300px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

.newsfeed-profile-link {
  display: block;
  line-height: 32px;
  padding: 5px 0;
}

.newsfeed-profile-link .user-image {
  float: left;
  margin-right: 10px;
}
