/*
 * Profile Page CSS
 */

 .profilePageTop {
  padding-bottom: 20px;
  padding-top: 15px;
  text-align: center;
}

.space {
  padding: 20px 0;
}

.user-image {
  width: 80px;
  height: 80px;
  background: #333;
  border: 0px solid #333;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 50%;
}

.user-image-icon {
  width: 200px;
  height: 200px;
  position: relative;
}

.user-profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover !important;
  background-position: center !important;
}

@media (max-width: 767px) {
  .user-image-icon {
    width: 150px;
    height: 150px;
  }
}

hr {
  background-color: #222;
  height: 1px;
  border: 1px;
  box-shadow: 1.5px 1.5px 2.5px #444;
}

.info-counter {
  display: inline-block;
  margin-right: 18px;
  font-size: 12px;
}
.info-counter-title {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.info-bio {
  margin: 10px 0 20px 0;
}

.info-bio-title {
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.profile-feed-wrapper {
  font-size: 14px;
  color: #555;
  margin-left: 5px;
  line-height: 1.5;
  margin: 50px auto 50px auto;
}

#profileInfo {
  position: relative;
  top: -210px;
  left: 380px;
  width: 50%;
  height: 100%;
}

#profileModelFeedContainer {
  position: relative;
  top: -170px;
}
